<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Wild Series</title>
	</head>
	<body>
		<header>
			<h1>{{ title }}</h1>
		</header>
		<h1>{{ welcome }}</h1>
		<a href="{{ path("program_index") }}">Voir les programmes</a>
		<a href="{{ path("category_index") }}">Voir les catégories</a>

	</body>
</html>
