{% extends 'base.html.twig' %}


{% block title %}Saison Info
{% endblock %}


{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">Les informations sur les saisons et les épisodes</h1>
		</div>
	</div>
{% endblock %}
